@font-face {
  font-family: Switzer-Medium;
  src: url(../assets/fonts/Switzer-Medium.woff2) format('woff2'),
       url(../assets/fonts/Switzer-Medium.woff) format('woff'),
       url(../assets/fonts/Switzer-Medium.ttf) format('truetype');
       font-weight: 500;
       font-style: normal;
}

@font-face {
  font-family: Switzer-MediumItalic;
  src: url('../assets/fonts/Switzer-MediumItalic.woff2') format('woff2'),
       url('../assets/fonts/Switzer-MediumItalic.woff') format('woff'),
       url('../assets/fonts/Switzer-MediumItalic.ttf') format('truetype');
       font-weight: 500;
       font-style: italic;
}

@font-face {
  font-family: Switzer-Semibold;
  src: url('../assets/fonts/Switzer-Semibold.woff2') format('woff2'),
       url('../assets/fonts/Switzer-Semibold.woff') format('woff'),
       url('../assets/fonts/Switzer-Semibold.ttf') format('truetype');
       font-weight: 600;
       font-style: normal;
}

@font-face {
  font-family: Switzer-Light;
  src: url('../assets/fonts/Switzer-Light.woff2') format('woff2'),
       url('../assets/fonts/Switzer-Light.woff') format('woff'),
       url('../assets/fonts/Switzer-Light.ttf') format('truetype');
       font-weight: 300;
       font-style: normal;
}

@font-face {font-family: Zodiak-Bold;
  src: url('../assets/fonts/Zodiak-Bold.woff2') format('woff2'),
       url('../assets/fonts/Zodiak-Bold.woff') format('woff'),
       url('../assets/fonts/Zodiak-Bold.ttf') format('truetype');
       font-weight: 700;
       font-style: normal;
}

.loadermask {
background-color: #9C74F1;
bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;}


.loader {
    transform: scale(1);
    height: 94vh;
    width: 97vw;
    border-radius:3.5rem;
    margin-top:3vh;
    margin-left:1.5vw;
    background-color:#FCFBF7;
    position: absolute;
    animation: prova 1.5s;
}
   
.loader > div {
    width: 97vw;
    height: 94vh;
    border-radius: 3.5rem;
    background: #FCFBF7;
    display:inline-block;
    
}

@keyframes prova {
    0%, 100% {
        animation-timing-function: ease-in-out;
    }
    50% {
        transform: scale(0.2);
    }
      100{transform: scale(1);
    }
}

a {
    color: black;
}

a:hover {
    color:#9C74F1;
    text-decoration: none;
}

.purple {color:#9C74F1;}
body {
    color:black;
    background-color:#9C74F1;
    width: 100%;
    height:100%;
}

.selected {
    text-decoration: underline;
    text-decoration-color: #9C74F1;
    text-underline-offset: 3px;
}


.box {
    height: 94vh;
    width: 97vw;
    border-radius:3.5rem;
    margin-top:3vh;
    margin-left:1.5vw;
    background-color:#FCFBF7;
    position:fixed;
    padding:3.5rem;  
}

.margini{
    position:absolute;
    overflow:scroll;
    bottom:0;
    height:83vh;
    width:auto;
    margin:0;
    padding:0;
    margin-right: 3.5rem;
}

.container{
    width:100%;
    visibility:visible;
    padding:0;
    position:relative;
    display:flex;
    justify-content: flex-end;
    z-index: 3;
    }
    
    .nav{
    width:25vw;
    font-family: Switzer-medium;
    font-size: 2vh;
    display:flex;
    justify-content: space-between;
    align-content: flex-start;
    }


.button{padding-left: 4vw;}


  .io{
    width:100%;
    margin-bottom:6vh;
    padding-left:0;
    }  

h1 {
    font-family: Zodiak-Bold;
    font-size: 5vh;
    margin-bottom:0.2vh;
}

h2 {
    font-size: 2vh;   
}

.second {
    font-family: Switzer-Light;
}

.second, .second:hover {text-decoration:underline;}

.main {
position: absolute;
bottom:0;
}

.contact {
max-height:100%;
display:block;
position: relative;
font-family: Switzer-Semibold;
font-size: 2vh;
padding-left:0;
}

.description{
    font-family: Switzer-Semibold;
    font-size: 2.3vh;
    margin-right:0;
    padding:0;
    width:100%;   
}

#image {
    visibility:hidden;
    position: absolute;
    border-radius:40px;
    margin-left: 35vw;
    margin-top: -70vh;

}

.easter{
    width:30vw;
    height: auto;
}

/*media queryes*/

@media only screen and (max-width: 1200px){
    .nav{
    width:100%;
    font-family: Switzer-medium;
    display:flex;
    justify-content: space-between;
    align-content: flex-start;
    }
    
    .button{padding-left: 0;}
    
    .io{margin-top:5vh;}
    
    .purple {color:black;}
    #image {visibility:hidden;
    width:0;
    height:0;}
    
     .description{
    padding:0;
    width:100%;
    margin-bottom:5vh;  
}
    .main{position:relative;}
    
    .contact{
    top:0;
    margin-top:8vh;
    margin-bottom:3vh;}
    
    .second{line-height: 5vh;}
}

@media only screen and (max-width:590px){
    .loader {
    height: 97vh;
    width: 94vw;
    border-radius:1.5rem;
    margin-top:1.5vh;
    margin-left:3vw;
}
   
.loader > div {
    width: 94vw;
    height: 97vh;
    border-radius:1.5rem; 
    margin-top:1.5vh;
}

    .box {
    height: 97vh;
    width: 94vw;
    border-radius:1.5rem;
    margin-top:1.5vh;
    margin-left:3vw;
    padding-top: 1.5rem;
    padding-left:1.5rem;
    padding-right:1.5rem;
}
           .margini{
    margin-right:1.5rem;
    height:87vh; 
}

    
      
}

@media only screen and (max-width: 703px) and (min-width: 591px){
  
 .loader {
    height: 96vh;
    width: 94vw;
    border-radius:1.5rem;
    margin-top:2vh;
    margin-left:3vw;
}
   
.loader > div {
    width: 94vw;
    height: 96vh;
    border-radius:1.5rem; 
    margin-top:2vh;
}

    .box {
    height: 96vh;
    width: 94vw;
    border-radius:2.5rem;
    margin-top:2vh;
    margin-left:3vw;
    padding-top: 2.5rem;
    padding-left:2.5rem;
    padding-right:2.5rem;
}
     .margini{
    margin-left:0;
    margin-right:2.5rem;
    height:88vh; 
}


}

@media only screen and (max-width: 815px) and (min-width: 704px){
  
 .loader {
    height: 96vh;
    width: 94vw;
    border-radius:2.5rem;
    margin-top:2vh;
    margin-left:3vw;
}
   
.loader > div {
    width: 94vw;
    height: 96vh;
    border-radius:2.5rem; 
    margin-top:2vh;
}

    .box {
    height: 96vh;
    width: 94vw;
    border-radius:2.5rem;
    margin-top:2vh;
    margin-left:3vw;
    padding-top: 2rem;
    padding-left:3rem;
    padding-right:3rem;
}
     .margini{
    margin-left:0;
    margin-right:3rem;
    height:87vh; 
}
  
    
}

@media only screen and (max-width: 927px) {
    
    .nav{
    width:100%;
    font-family: Switzer-medium;
    font-size: 2.5vh;
    display:flex;
    justify-content: space-between;
    align-content: flex-start;
    }
    .button{padding:0;}
    
    .description {font-size:2.5vh;}
    .contact{font-size:2vh;}

}

@media only screen and (max-width: 927px) and (min-width: 815px){
  .loader {
    height: 96vh;
    width: 94vw;
    border-radius:2.5rem;
    margin-top:2vh;
    margin-left:3vw;
}
   
.loader > div {
    width: 94vw;
    height: 96vh;
    border-radius:2.5rem; 
    margin-top:2vh;
}

    .box {
    height: 96vh;
    width: 94vw;
    border-radius:2.5rem;
    margin-top:2vh;
    margin-left:3vw;
    padding-top: 3rem;
    padding-left:3rem;
    padding-right:3rem;
}
     .margini{
    margin-left:0;
    margin-right:3rem;
    height:86vh; 
}
    
}

@media only screen and (max-width: 1150px) and (min-width: 927px) {
    .loader {
    border-radius:2.5rem;

}
   
.loader > div {
    border-radius:2.5rem; 
}

    .box {
    border-radius:2.5rem;
    padding-top: 2.5rem;
    padding-left:2.5rem;
    padding-right:2.5rem;
}
     .margini{
    margin-left:0;
    margin-right:2.5rem;
    height:82vh; 
}
 
    
}

@media only screen and (max-width: 1200px) and (min-width: 1150px) {
   
   .loader {
    border-radius:2.5rem;

}
   
.loader > div {
    border-radius:2.5rem; 
}

    .box {
    border-radius:2.5rem;
    padding-top: 2.5rem;
    padding-left:2.5rem;
    padding-right:2.5rem;
}
     .margini{
    margin-left:0;
    margin-right:2.5rem;
    height:82vh; 
}
    
}
@media only screen and (max-width: 1580px) and (min-width: 1200px) {
    
    .nav {width:28vw;}
    
}

@media only screen and (max-width: 2000px) and (min-width: 1200px) {
    
    .description{
overflow-y: auto;
    height: 64vh;
}  
    
}

/*
@media only screen and (max-width: 3000px) and (min-width: 2000px) {
    
 .description{
overflow-y: auto;
    height: 64vh;
}  
    
       .loader {
    border-radius:6rem;
}
   
.loader > div {
    border-radius: 6rem;
}
    
    .box {
    border-radius:6rem;
    padding:6rem;  
}
    .margini{width:auto;
    height:85vh;
    margin-right:4rem;}

.io{margin-top:5vh;}
}
*/

@media only screen and (min-width: 3000px) and (min-height:2000px){
    
    .loader {
    border-radius:8rem;
}
   
.loader > div {
    border-radius: 8rem;
}
    
    .box {
    border-radius:8rem;
    padding:8rem;  
}
    .margini{
        margin-right:8rem;
        height:85vh;
    }
      
   .description{
overflow-y: auto;
    max-height: 65vh; 
}  
    
}